{% extends 'base.html' %}

{% block body %}

<div class="top-container">
    <h1>My Todo</h1>

    <form action="/" method="POST" class="form" id="task-form">
        <input type="text" name="content" id="content-box" placeholder="Enter Your Task" required>
        <input type="submit" value="Add Task" id="submit">
    </form>

    {% for task in tasks %}
    <div class="task-container">
        <div class="date-added">Created on: <span>{{task.date_created.date()}}</span></div>

        <div class="sub-container">
            <div class="content" id="task">
                {{task.content}}
            </div>

            <div class="action-buttons">
                <a href="/delete/{{ task.id }}"><button><img src="{{ url_for('static', filename='icons/delete.png') }}"
                            alt="delete icon"></button></a>

                <a href="/update/{{ task.id }}"><button><img src="{{ url_for('static', filename='icons/edit.png') }}"
                            alt="edit icon"></button></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}